@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@*--HtmlPartStart*@
<div class="section">
    <div class=" block box">
        <h1 class="is-size-1">Home</h1>
    </div>

</div>

@*--HtmlPartEnd*@