<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        {%- if LogoHRef != null %}
            <a class="navbar-item" href="{{ LogoHRef }}">
                {{ Logo }}
            </a>
        {%- endif %}
        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="main-navbar" class="navbar-menu">
        <div class="navbar-start">
            {{ NavbarStart }}
        </div>

        <div class="navbar-end">
            {{ NavbarEnd }}
        </div>
    </div>
</nav>