@page "/editing"
@using static CatCMS.Pages.FetchData;
@inject HttpClient Http;

<PageTitle>Editing</PageTitle>

    <iframe src="/sample-data/test2.html" scrolling="auto" style="height: 100vh ; width: 100vw"> </iframe>
@if (string.IsNullOrEmpty(_error))
{
    

}
else
{
    <p>@_error</p>
}

@code {


    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {

        try
        {

            using var htmlFile = await Http.GetAsync("sample-data/test2.html");
            var t  = await htmlFile.Content.ReadAsStringAsync();

            _markupString1 = t;
        }
        catch (Exception e)
        {

            _error = $"there is a problem in opening file. Error is \n{e}";
        }
    }
    private void AddElement()
    {

    }

    private string _markupString1 = string.Empty;
    private string _error = string.Empty;
    private string _html = @$"";
}
