@page "/thirdEditor"

<HTMLContnetEditor @bind-Content=@content ></HTMLContnetEditor>
<MudPaper Class="pa-4 mud-height-full" Elevation="6">
    <MudText Color="@Color.Error">@content</MudText>
</MudPaper>

@code {
    private string content = "<p>Hello world</p>";
}
